@model ExpenseTracker.Models.ViewModels.ExpenseVM

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Expense.CatagoryModel"></label>
                </div>
                <div class="col-3">
                    <label>Date From : </label>
                   
                </div>
                <div class="col-3">
                    <label>TO Date : </label>
                   
                </div>
                <div class="col-3">
                  
                </div>
            </div>
           
            <form asp-action="search" method="get">
                
                    <div class="form-group row">
                      
                    <div class="col-3">
                        <select asp-for="Selected" class="form-control" asp-items="@Model.CatagoryDropDown">
                            <option selected>--Select Expense Catagory--</option>
                        </select>
                    </div>

                        <div class="col-3">

                          
                            <input id="FromDate" type="datetime-local" name="FromDate" class="form-control" />
                        </div>

                        <div class="col-3">

                            
                            <input id="ToDate" type="datetime-local" name="ToDate" class="form-control" />

                        </div>

                        <div class="col-3">


                           
                            <div class="w-100 btn-group" role="group">
                               
                                <input type="submit" asp-controller="ExpenseView" asp-action="Search" value="Search Expense" class="btn btn-primary w-100" />
                          
                            </div>

                         
                        </div>

                    </div>
            </form>

            <div class="mb-3"> </div>

            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <div class="col offset-3">
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                     
                    </div>
                </div>
                <div class="col-md-6">
                  
                </div>
            </div>

        </div>
    </div>
</div>
<div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense.CatagoryModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Amount)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExpenseList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatagoryModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>

    <tr>
        <td>
            @*  @Html.DisplayNameFor(model => model.Expense.CatagoryModel)*@
        </td>
        <td>
            @*  @Html.DisplayNameFor(model => model.Expense.ExpenseName)*@
        </td>
        <td>
            @* @Html.DisplayNameFor(model => model.Expense.ExpenseDate)*@
            Total Amount :
        </td>
        <td>
            @* @Html.DisplayNameFor(model => model.TotalAmount)*@
            @Model.TotalAmount
        </td>

        <td></td>
    </tr>

</table>

<div class="container">
    <span>Total Expense List: @Model.ExpenseList.Count()</span>

</div>

