@model ExpenseTracker.Models.ViewModels.ExpenseVM

@{
    ViewData["Title"] = "Search";
}

<h1>Expense Details Between Two Dates: </h1>

<div>
    <br/>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense.CatagoryModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Amount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExpenseList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CatagoryModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
    <tr>
        <td>
          @*  @Html.DisplayNameFor(model => model.Expense.CatagoryModel)*@
        </td>
        <td>
          @*  @Html.DisplayNameFor(model => model.Expense.ExpenseName)*@
        </td>
        <td>
           @* @Html.DisplayNameFor(model => model.Expense.ExpenseDate)*@
           Total Amount : 
        </td>
        <td>
           @* @Html.DisplayNameFor(model => model.TotalAmount)*@
            @Model.TotalAmount
        </td>

        <td></td>
    </tr>

</table>

<div class="container">
    <span>Total Expense List: @Model.ExpenseList.Count()</span>
</div>

<br/>

<div>
    @*<asp:Hyperlink Runat="server" NavigateUrl="#" onclick="javascript:history.go(1);return false;">
        BACK<asp:Hyperlink>*@
    @*<asp:button id="btnBack" runat="server" text="Back" xmlns:asp="#unknown" OnClientClick="JavaScript: window.history.back(1); return false;"> </asp:button>*@
    <a href="javascript:history.go(-1)">Back</a>
           
</div>
